<script>
	function goBack() {
		window.history.back()
	}
</script>

<div class="error splash">
	<div class="confirm align notice">
		
		<h1 id="notice-header">
			<% if @error %>
				<%= "Something broke. The server says: '#{@error}'. I say, who wrote this thing?!" %> 
			<% else %>
				<%=	"Page not found" %>
			<% end %>
		</h1>
		
		<button onclick="goBack()" class="pure-button cta">Go Back</button>

	</div>
</div>